*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
p{
    justify-content: center;
}
.wrapper{
    margin: 150px auto;
    width: 70%;
}

img{
    max-width: 320px;
    float: left;
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 15px;
}

.text-box{
    color: rgb(211, 200, 149);
}
.text-box h2{
    font-size: 42px;
}
.text-box p{
    font-size: 16px;
}
.out{
margin-bottom: 0px;
}